*{
    margin: 0;
    padding: 0;
}

.cuerpo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: lightgray;
    font-family: 'Neue Aachen Pro', sans-serif;
}

.cabecera{
    display: flex;
    height: 150px;
    background-color: black;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

li a{
    text-decoration: none;
    text-align: right;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
    margin: 20px;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
}

.logo img{
    width: 100px;
    height: auto;
}

.contenido{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    padding: 20px;
    align-items: center;
}

.contenido img{
    width: 200px;
    border-right: 2px solid black;
}

.pizzas{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 10px;
}

.pizza{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    width: 700px;
    border: 2px solid black;
    font-family: 'Neue Aachen Pro', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: black;
}

.pizza:hover{
    background-color: black;
    color: white;
}

h2{
    margin: 20px;
}


.adicionales{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 10px;
}

.adicional{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    width: 700px;
    border: 2px solid black;
    font-family: 'Neue Aachen Pro', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: black;
}

.adicional:hover{
    background-color: black;
    color: white;
}

.bebidas{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 10px;
}

.bebida{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    width: 700px;
    border: 2px solid black;
    font-family: 'Neue Aachen Pro', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: black;
}

.bebida:hover{
    background-color: black;
    color: white;
}

#pie{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    background-color: black;
    color: white;
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: auto;
}

#pie a img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80px;
}